<div class="board-card">
  <div class="board-card-left">
      <img src="{% static 'profile_app/icons/avatar.svg' %}" alt="Default profile" class="profile-image">
  </div>

  <div class="board-card-content">
    <h2 class="board-title">{{ board.title }}</h2>
    <p class="board-description">{{ board.description }}</p>
  </div>

  <div class="board-card-meta">
    <div class="icon-group">
      <span class="icon-item">
        <i class="fas fa-share-alt"></i> {{ board.number_of_connections }}
      </span>
      <span class="icon-item">
        <i class="fas fa-project-diagram"></i> {{ board.number_of_nodes }}
      </span>
    </div>
  </div>
</div>
