<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'home_app/home.css' %}">
</head>
<body>

 <!-- Sidebar -->
  <div class="sidebar">
    <ul>
      <li class="active">
        <button onclick="window.location.href='/'">
          <img src="{% static 'profile_app/icons/home.svg' %}" alt="Home icon" class="icon">
          Home
        </button>
      </li>
      <li>
        <button>
          <img src="{% static 'profile_app/icons/popular.svg' %}" alt="Popular icon" class="icon">
          Popular
        </button>
      </li>
      <li>
        <button>
          <img src="{% static 'profile_app/icons/boards.svg' %}" alt="Boards icon" class="icon">
          Boards
        </button>
      </li>
      <li>
        <button>
          <img src="{% static 'profile_app/icons/nodes.svg' %}" alt="Nodes icon" class="icon">
          Nodes
        </button>
      </li>
      <li>
        <button type="button" onclick="window.location.href='{% url 'profile' %}'">
          <img src="{% static 'profile_app/icons/profile.svg' %}" alt="Profile icon" class="icon">
          Profile
        </button>
      </li>
      <li class="logout">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">
            <img src="{% static 'profile_app/icons/logout.svg' %}" alt="Logout icon" class="icon">
            Logout
          </button>
        </form>
      </li>      
    </ul>
  </div>

  <!-- Main Content -->
  <div class="home-content">
    <div class="home-box">
  <h1>Your Boards</h1>

    <div class="board-list">
      {% for board in boards %}
          <div>
              <h3>{{ board.title }}</h3> <!-- or any field name -->
          </div>
      {% endfor %}
    </div>
  
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
