<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <title>Profile</title>
  <link rel="stylesheet" href="{% static 'profile_app/profile.css' %}">
</head>
<body>
  <div class="sidebar">
    <ul>
      <li>
        <button onclick="window.location.href='/'">
          <img src="{% static 'profile_app/icons/home.svg' %}" alt="Home icon" class="icon">
          Home
        </button>
      </li>
      <li>
        <button>
          <img src="{% static 'profile_app/icons/popular.svg' %}" alt="Popular icon" class="icon">
          Popular
        </button>
      </li>
      <li>
        <button>
          <img src="{% static 'profile_app/icons/boards.svg' %}" alt="Boards icon" class="icon">
          Boards
        </button>
      </li>
      <li>
        <button>
          <img src="{% static 'profile_app/icons/nodes.svg' %}" alt="Nodes icon" class="icon">
          Nodes
        </button>
      </li>
      <li class="active">
        <button>
          <img src="{% static 'profile_app/icons/profile.svg' %}" alt="Profile icon" class="icon">
          Profile
        </button>
      </li>
    </ul>
  </div>

  <div class="profile-card">
    <div class="profile-content">
      <img src="{% static 'profile_app/icons/user_icon.svg' %}" class="avatar" alt="User icon" />
      <h2>{{ user.full_name }}</h2>
      <div class="username">@{{ user.username }}</div>
      <p>⭐⭐⭐⭐☆</p>
      <p>{{ user.occupation }}</p>
      <p>{{ user.email }}</p>
      <p>{{ user.location }}</p>
  
      <div class="buttons">
        <button>Edit Profile</button>
        <button>Change Password</button>
        <button>Delete Account</button>
      </div>
    </div>
  </div>
</body>
</html>
